.container
  display:grid
  grid-template:4fr 2fr 1fr/1fr 2fr
  grid-template-areas:  "info layoutImg"\
                        "hero hero"\
                        "footer footer"
  height:100vh
  overflow: hidden
  object-fit: cover

.info
  grid-area:info
  align-self:center
.layoutImg
  grid-area: layoutImg
  object-fit: cover
  width:100vh
  height:auto
  overflow:hidden
  justify-self: flex-end

  & img
    object-fit:cover
    width:100%

.hero
  grid-area:hero

.footer
  grid-area:footer
