* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}
.logo img {
  display: flex;
  height: 50px;
}
nav {
  background-color: #3cbbe4;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.topNav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.topNav li {
  list-style: none;
  width: 15%;
  text-align: center;
  position: relative;
}
.topNav li:hover {
  background-color: #1ca0ca;
  border-radius: 20px;
}
.topNav li:hover .submenu {
  display: flex;
}
.topNav li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.courses {
  background: #12647e;
  border-radius: 10px;
}
.submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.submenu li a:hover {
  background-color: #1ca0ca;
}
.submenu li {
  width: 100%;
}
.submenu li a {
  display: block;
  padding: 5px;
  background-color: #3cbbe4;
}
.container {
  display: grid;
  grid-template: 4fr 2fr 1fr/1fr 2fr;
  grid-template-areas: "info layoutImg" "hero hero" "footer footer";
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}
.info {
  grid-area: info;
  align-self: center;
}
.layoutImg {
  grid-area: layoutImg;
  object-fit: cover;
  width: 100vh;
  height: auto;
  overflow: hidden;
  justify-self: flex-end;
}
.layoutImg img {
  object-fit: cover;
  width: 100%;
}
.hero {
  grid-area: hero;
}
.footer {
  grid-area: footer;
}
