* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}
.logo img {
  display: flex;
  height: 50px;
}
.itemImg img {
  max-width: 100%;
}
nav {
  background-color: #3cbbe4;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.topNav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.topNav li {
  list-style: none;
  width: 15%;
  text-align: center;
  position: relative;
}
.topNav li:hover {
  background-color: #1ca0ca;
  border-radius: 20px;
}
.topNav li:hover .submenu {
  display: flex;
}
.topNav li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.submenu li a:hover {
  background-color: #1ca0ca;
}
.submenu li {
  width: 100%;
}
.submenu li a {
  display: block;
  padding: 5px;
  background-color: #3cbbe4;
}
.container {
  display: grid;
  grid-template: 50vh 50vh 20vh/30vw 70vw;
  grid-template-areas: "itemImg itemImg" "navLeft hero" "footer footer";
}
.itemImg {
  grid-area: itemImg;
  max-width: 100%;
}
.navLeft {
  grid-area: navLeft;
}
.hero {
  grid-area: hero;
}
.footer {
  grid-area: footer;
}
